{% extends "base.html" %}
{% block title %}F1 - Home{% endblock %}
{% block content %}
<head>
    <title>F1 League 2023</title>
</head>
<body>
    <div class="container">
        <h1 id="colorful-heading">F1  LEAGUE  2023</h1>
        
        <div>
            <img src="{{ url_for('static', filename='images/F1-Logo.png') }}" alt="F1 Logo" class="top-left-logo">
            <img src="{{ url_for('static', filename='images/F1-Logo.png') }}" alt="F1 Logo" class="top-right-logo">
        </div>
        
        <nav class="button-menu">
            <button onclick="location.href='{{ url_for('start') }}'">Start Game</button>
            <button onclick="location.href='{{ url_for('about') }}'">About</button>
            <button onclick="location.href='{{ url_for('credit') }}'">Credit</button> 
        </nav>
    </div>

    <img src="{{ url_for('static', filename='images/ferrari-sf-23.jpg') }}" alt="F1 Cars Photo" class="main-photo" >

    <p class = "credit">This is an educational project by Robyn Doyle</p>
</body>
{% endblock %}
