{% extends "base.html" %}
{% block title %}F1 - Choose Drivers{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Driver</title>
</head>
<body>
    
    <h1 id="colorful-heading">F1  LEAGUE  2023</h1>
    <img src="{{ this_race_picture }}" alt="F1 track night" class="third-photo">

    <div>
        <img src="{{ url_for('static', filename='images/F1-Logo.png') }}" alt="F1 Logo" class="top-left-logo">
        <img src="{{ url_for('static', filename='images/F1-Logo.png') }}" alt="F1 Logo" class="top-right-logo">
    </div>
  
    <h2 class="center-text">Select Drivers for {{ current_race }}</h2>

    <form action="{{ url_for('ai') }}" class="race_form" method="POST">
        <input type="hidden" name="player_name" value="{{ player_name }}">
        <input type="hidden" name="difficulty" value="{{ difficulty }}">
        <input type="hidden" name="difficulty_check" value="{{ difficulty_check }}">
        <input type="hidden" name="points" value="{{ points }}">
        <input type="hidden" name="ai_points" value="{{ ai_points }}">
        <input type="hidden" name="races" value="{{ races }}">
        <input type="hidden" name="race_counter" value="{{ race_counter }}">
        <div class="form-group">
            <label for="driver">1st:</label>
            <select id="driver" name="driver" required>
                <option disabled selected value="">1st</option>
                {% for driver in driver_list %}
                    <option value="{{ driver }}">{{ driver }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="driver_two">2nd:</label>
            <select id="driver_two" name="driver_two" required>
                <option disabled selected value="">2nd</option>
                {% for driver in driver_list %}
                    <option value="{{ driver }}">{{ driver }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="driver_three">3rd:</label>
            <select id="driver_three" name="driver_three" required>
                <option disabled selected value="">3rd</option>
                {% for driver in driver_list %}
                    <option value="{{ driver }}">{{ driver }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="submit-button">Submit</button>
    </form>
    <p class = "credit">This is an educational project by Robyn Doyle</p>

    <p class="player-info-left_one">Player: {{ player_name }}  </p>
    <p class="player-info-left_two">Races: {{ race_counter+1 }} of {{ races }}</p>
    <p class="player-info-left_three"> Points = {{ points }} </p>

    <p class="ai-info-right_one">Computer</p>
    <p class="ai-info-right_two">Difficulty: {{ difficulty_check }}</p>
    <p class="ai-info-right_three">Points = {{ ai_points}}</p>
   
    <script src="{{ url_for('static', filename='js/driver-select-restraint.js') }}"></script>
</body>
</html>
{% endblock %}