{% extends "base.html" %}
{% block title %}F1 - Start{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    
    <h1 id="colorful-heading">F1  LEAGUE  2023</h1>
    <div>
        <img src="{{ url_for('static', filename='images/F1-Logo.png') }}" alt="F1 Logo" class="top-left-logo">
        <img src="{{ url_for('static', filename='images/F1-Logo.png') }}" alt="F1 Logo" class="top-right-logo">
    </div>
  
    <nav class="button-menu">
        <form action="{{ url_for('start') }}" method="POST">
            <label for="player_name" class="font">Enter your name:</label>
            <input type="text" id="player_name" name="player_name"  required><br><br>
            <label for="races" class="font">Number of races:</label>
            <input type="number" id="races" name="races" min="1" max="22" required><br><br>
            <label for="difficulty" class="font">Choose difficulty:</label>
            <select id="difficulty" name="difficulty" required>
                <option value="EASY">Easy</option>
                <option value="MEDIUM">Medium</option>
                <option value="HARD">Hard</option>
            </select><br><br>
            <button type="submit">Race</button> 
        </form>
    </nav>

    <img src="{{ url_for('static', filename='images/redbull.jpeg') }}" alt="F1 Cars Photo" class="second-photo">
    
    
    <p class = "credit">This is an educational project by Robyn Doyle {{ player_name }}</p>
    
</body>
</html>
{% endblock %}